.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.title {
  font-family: var(--font-family-display);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 150%;
  color: var(--foreground-primary);
  letter-spacing: var(--font-inter-letter-spacing-20px);
}

.description {
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 150%;
  color: var(--foreground-tertiary);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.coauthors {
  display: flex;
  align-items: center;
  height: 18px;
  padding: 0;
  margin: 0;
  list-style: none;

  .coauthor:not(:first-of-type) {
    margin-left: -4px;
  }

  .coauthor:not(:last-of-type) {
    mask: radial-gradient(circle 10px at 22px 50%, transparent 99%, #fff 100%);
  }
}

.metadata {
  display: inline-block;
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--gray-11);
  text-align: center;
  letter-spacing: -0.09px;
}

.actions {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  transform: translateY(-50%);
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  color: var(--gray-10);
  background: var(--gray-3);
  border-radius: 100px;
}
