.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 128px 0;
}

.header .title {
  font-family: var(--font-family-display);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
  color: var(--gray-12);
  letter-spacing: -0.47px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 64px;
}

.search {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  background: var(--gray-1);
  border-bottom: 1px solid var(--gray-4);
}

.search .icon {
  color: var(--gray-10);
}

.search .input {
  width: 100%;
  font-family: var(--font-family-display);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--gray-10);
  letter-spacing: var(--font-inter-letter-spacing-16px);
}

.search .input:focus {
  outline: none;
  box-shadow: none;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  align-self: stretch;
}

.post {
  transition: filter 0.2s ease-in-out;
}

.posts:has(.post:hover) .post {
  filter: opacity(0.4);
}

.posts:has(.post:hover) .post:hover {
  filter: opacity(1);
}
