:root {
  --white: hsla(0, 0%, 100%, 1);
  --white-a1: hsla(0, 0%, 0%, 0);
  --white-a2: hsla(0, 0%, 100%, 0.0417);
  --white-a3: hsla(0, 0%, 100%, 0.0792);
  --white-a4: hsla(0, 0%, 100%, 0.1083);
  --white-a5: hsla(0, 0%, 100%, 0.1417);
  --white-a6: hsla(0, 0%, 100%, 0.1792);
  --white-a7: hsla(0, 0%, 100%, 0.2375);
  --white-a8: hsla(0, 0%, 100%, 0.3375);
  --white-a9: hsla(0, 0%, 100%, 0.3917);
  --white-a10: hsla(0, 0%, 100%, 0.4458);
  --white-a11: hsla(0, 0%, 100%, 0.6833);
  --white-a12: hsla(0, 0%, 100%, 0.9292);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --white-a1: color(display-p3 0 0 0 / 0);
      --white-a2: color(display-p3 1 1 1 / 0.0417);
      --white-a3: color(display-p3 1 1 1 / 0.0792);
      --white-a4: color(display-p3 1 1 1 / 0.1083);
      --white-a5: color(display-p3 1 1 1 / 0.1417);
      --white-a6: color(display-p3 1 1 1 / 0.1792);
      --white-a7: color(display-p3 1 1 1 / 0.2375);
      --white-a8: color(display-p3 1 1 1 / 0.3375);
      --white-a9: color(display-p3 1 1 1 / 0.3917);
      --white-a10: color(display-p3 1 1 1 / 0.4458);
      --white-a11: color(display-p3 1 1 1 / 0.6833);
      --white-a12: color(display-p3 1 1 1 / 0.9292);
    }
  }
}
