.author {
  display: flex;
  gap: 6px;
  align-items: center;
  height: 24px;

  .avatar {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 9999px;
  }

  .fallback {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-family: var(--font-family-display);
    font-size: 8px;
    font-weight: var(--font-weight-medium);
    line-height: 150%;
    color: var(--gray-contrast);
    letter-spacing: var(--font-inter-letter-spacing-8px);
  }

  .name {
    font-family: var(--font-family-display);
    font-size: 13px;
    font-weight: var(--font-weight-medium);
    line-height: 24px;
    color: var(--foreground-tertiary);
    letter-spacing: var(--font-inter-letter-spacing-13px);
  }
}
