.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  justify-content: flex-end;
  width: 100%;
}

.actions {
  padding: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;

  [data-button]{
    width: 100%;  
  }
}

.area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
  width: 100%;
}

.viewport {
  position: relative;
  width: 280px;
  height: 48px;
  outline: 0;
}

.toast {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
  pointer-events: auto;
  user-select: none;
  cursor: default;
  width: 256px;
  z-index: calc(1000 - var(--toast-index));
  transform-origin: center center;
  transform: translateY(calc(var(--toast-index) * 16px)) scale(calc(1 - var(--toast-index) * 0.05));
  opacity: calc(1 - var(--toast-index) * 0.25);
  transition:
    transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.4s;  background: var(--gray-1);
  box-shadow: var(--shadow-2);  border-radius: 12px;
}

.toast[data-starting-style] {
  opacity: 0;
  transform: translateY(-16px) scale(0.9);
}

.toast[data-ending-style] {
  opacity: 0;
  transform: translateY(16px) scale(0.9);
}



.toast[data-limited] {
  opacity: 0;
}





.content {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  white-space: nowrap;
  transition: opacity 0.25s;
}

.content[data-behind] {
  opacity: 0;
}

.content[data-expanded] {
  opacity: 1;
}

.message {
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-14px);
}

