.views {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  font-family: var(--font-family-display);
  font-size: 13px;
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  color: var(--foreground-tertiary);
  letter-spacing: var(--font-inter-letter-spacing-13px);

  .icon {
    width: 16px;
    height: 16px;
    color: var(--foreground-tertiary);
  }
}
