.container {
  --orange: var(--pink);
  --orange-ring: color-mix(in srgb, var(--pink) 20%, transparent);
  --purple: var(--blue);
  --background: #1b1b1e;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 384px;
  background: var(--background);
}

.wrapper {
  rotate: -45deg;
  transform-style: preserve-3d;
  perspective: 100px;
  position: relative;
}

.globe {
  width: 128px;
  height: 128px;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background: var(--background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 10s ease-in-out;

  .bg,
  .mg,
  .fg {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
  }

  .bg {
    z-index: 1;
    width: 24px;
    height: 24px;
    background: var(--background);
  }

  .mg {
    z-index: 2;
    width: 16px;
    height: 16px;
    background: var(--orange);
  }

  .fg {
    z-index: 3;
    width: 8px;
    height: 8px;
    background: var(--background);
  }

  &[data-loaded="true"] {
    .bg {
      background: var(--background);
    }

    .mg {
      background: var(--purple);
    }

    .fg {
      background: var(--background);
    }
  }
}

.button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 12px;
  font-size: 14px;
  font-variation-settings: var(--font-weight-500);
  color: oklch(100% 0 0 / 40%);
  cursor: pointer;
  user-select: none;
  transform: translateX(-50%);
  transform-origin: center center;
  transition: all 0.2s ease;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: oklch(1 0 0 / 8%);

    border-radius: 0.375rem;
    opacity: 0;
    scale: 0.97;
    transition: all 0.2s ease;
  }

  &:hover {
    color: oklch(100% 0 0 / 100%);
    &::before {
      opacity: 1;
      scale: 1;
    }
  }

  &:active {
    scale: 0.99;
  }
}
