.reader {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-self: stretch;
  justify-content: flex-end;
  aspect-ratio: 5 / 3;
  padding: 16px;
  margin-top: var(--prose-block-spacing-large);
  margin-bottom: calc(var(--prose-block-spacing-large) * 2);
  overflow: hidden;
  background: var(--gray-2, #222);
  border-radius: 12px;
}

.orb {
  position: absolute;
  inset: 0;
}

.controls {
  display: flex;
  gap: 4px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  color: var(--white-a12);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.slider {
  --height: 4px;
  display: flex;
  flex: 1 0 0;
  gap: 16px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.slider.withChapters {
  margin-inline: 16px;
}

.control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 0.75rem;
  overflow: hidden;
  touch-action: none;
  user-select: none;
}

.track {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  user-select: none;
  background: var(--white-a4);
  border-radius: 0.25rem;
}

.indicator {
  user-select: none;
  background: var(--white-a10);
}

.time {
  z-index: 1;
  font-variant-numeric: tabular-nums;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  aspect-ratio: 1 / 1;
  font-variant-numeric: tabular-nums;
  border-radius: 8px;
  transition: all 0.2s;
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--white-a4);
}

.button svg {
  width: 16px;
  height: 16px;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 8px;
  scale: 0.8;
  transition: all 0.2s;
}

.button:hover::before,
.button[data-popup-open]::before,
.button[data-pressed]::before {
  background: var(--white-a4);
  scale: 1;
}

.button:active {
  scale: 0.95;
}

.floating {
  position: fixed;
  bottom: 0px;
  left: 50%;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  height: 256px;
  pointer-events: none;
  transform: translateX(-50%);
}

.floating .controls {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-shrink: 0;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 8px;
  pointer-events: auto;
  background: var(--gray-a6);
  border-radius: 12px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.1);
  background-blend-mode: luminosity;
  backdrop-filter: blur(24px);
}

.background {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 256px;
  pointer-events: none;
  background: var(--gray-a1);
  mask-image: linear-gradient(to top, black 0%, transparent 100%);
}

.positioner {
  z-index: 1001;
}

.popup {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  max-height: 320px;
  padding-block: 4px;
  overflow-y: auto;
  font-family: var(--font-family-display);
  font-size: 13px;
  font-weight: var(--font-weight-medium);
  color: var(--gray-12);
  background: var(--gray-1);
  border: 1px solid var(--gray-a4);
  border-radius: 8px;
  box-shadow:
    lch(0 0 0 / 0.02) 0px 6px 18px,
    lch(0 0 0 / 0.04) 0px 3px 9px,
    lch(0 0 0 / 0.04) 0px 1px 1px;
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;
}

.popup[data-starting-style],
.popup[data-ending-style] {
  opacity: 0;
  transform: scale(0.9);
}

.popup:focus-visible {
  outline: none;
}

.group {
  display: flex;
  flex-direction: column;
}

.label {
  position: relative;
  height: 30px;
  padding-block: 8px;
  padding-inline: 12px;
  margin: 0px;
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  color: var(--gray-10);
  letter-spacing: var(--font-inter-letter-spacing-12px);
}

.item {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.item::before,
.item[data-highlighted]::before {
  position: absolute;
  inset: 0px 4px;
  content: "";
  background: var(--gray-a3);
  border-radius: 6px;
  opacity: 0;
  scale: 0.98;
  transition: all 0.18s ease-in-out;
}

.item:hover::before {
  opacity: 1;
  scale: 1;
}

.item:focus-visible {
  outline: none;
}

.item:focus-visible::before {
  opacity: 1;
  scale: 1;
}

.item[data-disabled] {
  color: var(--gray-8);
  cursor: not-allowed;
}

.separator {
  height: 1px;
  margin: 4px 0;
  background: var(--gray-a4);
}
