.hint {
  position: absolute;
  top: 48px;
  left: 50%;
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  color: var(--gray-8);
  letter-spacing: var(--font-letter-spacing-12px);
  transform: translateX(-50%);
}

.card {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 256px;
  height: 96px;
  overflow: hidden;
  background: var(--gray-2);
  border: 1px solid var(--gray-4);
  border-radius: 12px;
}

.card .swatch {
  flex-shrink: 0;
  height: 96px;
  aspect-ratio: 1 / 1;
  background: var(--gray-3);
}

.card .info {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.card .info :where(.title, .tcx, .name) {
  font-size: 14px;
  letter-spacing: var(--font-letter-spacing-14px);
}

.card .info .title {
  font-weight: var(--font-weight-semibold);
  color: var(--gray-12);
}

.card .info .tcx {
  color: var(--gray-10);
}

.card .info .name {
  font-weight: var(--font-weight-medium);
  color: var(--gray-11);
}
