article {
  [data-word-id],
  [data-word-state],
  [data-word-block-state],
  [data-word-state]::after,
  [data-word-block-state]::after {
    background: transparent;
    transition: all 0.2s ease-out;
  }

  [data-word-id] {
    position: relative;
    z-index: 0;
    display: inline-block;
    cursor: pointer;
    transition: color 0.16s ease-out;

    &::after {
      position: absolute;
      inset: 0 -2px;
      z-index: -1;
      pointer-events: none;
      content: "";
      background: transparent;
      border-radius: 2px;
      box-shadow: none;
      transition:
        all 0.2 0.16s ease-out,
        box-shadow 0.16s ease-out;
    }

    &:hover::after {
      background: color-mix(in srgb, #0090ff 20%, transparent);
    }
  }

  [data-word-state]::after,
  [data-word-block-state]::after {
    position: absolute;
    inset: 0 -2px;
    z-index: -1;
    content: "";
    background: transparent;
    border-radius: 2px;
    box-shadow: none;
  }

  [data-word-block-state="active"] {
    text-shadow: 0 0 8px rgba(0, 144, 255, 0.4);
  }

  [data-word-block-state="active"] {
    text-shadow: 0 0 8px rgba(0, 144, 255, 0.4);
  }

  [data-word-state="active"] {
    text-shadow: 0 0 8px rgba(0, 144, 255);
  }

  [data-word-state="inactive"] {
    &::after {
      background: transparent;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  article {
    [data-word-id] {
      transition: none;
    }
  }
}
