.avatar {
  position: relative;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fallback {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-display);
  font-size: 8px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  color: var(--white);
  letter-spacing: var(--font-inter-letter-spacing-12px);
}
