.article {
  padding-bottom: 48px;
  overflow: visible;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: calc(100 * var(--dvh));
  padding-top: var(--header-height);
}

.root {
  width: 100%;
  max-width: var(--page-max-width);
  padding-right: var(--page-padding-right);
  padding-left: var(--page-padding-left);
  margin-right: auto;
  margin-left: auto;
}
