.audio {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 256px;
  overflow: visible;
  pointer-events: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--gray-2) 0%, transparent) 0%,
    color-mix(in srgb, var(--gray-2) 100%, transparent) 50%
  );

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.audio-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  width: calc(100% - 24px);
  max-width: 640px;
  height: fit-content;
  padding: 32px 24px;
  color: var(--gray-a12);
  transform: translateX(-50%);
}

.details {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: stretch;
}

.details .cover {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.details .cover .shader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 105%;
  aspect-ratio: 1 / 1;
  filter: blur(2px);
  transform: translate(-50%, -50%);
}

.details .info {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.details .info .title,
.details .info .author {
  font-family: var(--font-family-display);
  font-size: 14px;
  line-height: 1;
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.details .info .title {
  font-weight: var(--font-weight-medium);
  color: var(--gray-a12);
}

.details .info .author {
  font-weight: var(--font-weight-normal);
  color: var(--gray-a8);
}

.progress {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
}

.progress .root {
  position: relative;
  width: 100%;
}

.progress .root .control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  touch-action: none;
  user-select: none;
}

.progress .root .track {
  width: 100%;
  height: 4px;
  user-select: none;
  background-color: var(--gray-a4);
  border-radius: 100px;
}

.progress .root .indicator {
  user-select: none;
  background: var(--gray-a10);
  border-radius: 0.25rem;
}

.progress .time {
  font-family: var(--font-family-display);
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  font-variant-numeric: tabular-nums;
  line-height: 24px;
  color: var(--gray-a10);
  letter-spacing: var(--font-inter-letter-spacing-12px);
}

.controls {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.controls .options {
  display: flex;
  gap: 16px;
  align-items: center;
}
