.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding-block-start: 256px;
  padding-block-end: 128px;
}

.header .title {
  font-family: var(--font-family-display);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
  color: var(--gray-12);
  letter-spacing: -0.47px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 64px;
}

.toolbar {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-self: stretch;
}

.list.row {
  gap: 8px;
}

.search {
  display: flex;
  flex: 1 0 0;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  color: var(--gray-12);

}

 

.search .icon {
  width: 18px;
  height: 18px;
  color: var(--gray-10);
}

.search .input {
  width: 100%;
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  letter-spacing: var(--font-letter-spacing-16px);
}

.search .input::-webkit-search-cancel-button {
  appearance: none;
}

.search .input::placeholder {
  color: var(--gray-8);
}

.search:focus-within .input {
  outline: none;
}

.toggle {
  display: flex;
  gap: 4px;
  align-items: center;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  color: var(--gray-8);
  border-radius: 6px;
  transition: color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .view:hover {
    color: var(--gray-10);
  }
}

.view[data-pressed] {
  color: var(--gray-12);
}

.item {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: all;
}

.list.card:has(.item:hover) .item {
  filter: opacity(0.2);
}

.list.card:has(.item:hover) .item:hover {
  filter: opacity(1);
}

.list.row:has(.item:hover) .item {
  filter: opacity(0.4);
}

.list.row:has(.item:hover) .item:hover {
  filter: opacity(1);
}
