:root {
  --black: hsla(0, 0%, 0%, 1);
  --black-a1: hsla(0, 0%, 0%, 0.008);
  --black-a2: hsla(0, 0%, 0%, 0.024);
  --black-a3: hsla(0, 0%, 0%, 0.0588);
  --black-a4: hsla(0, 0%, 0%, 0.0902);
  --black-a5: hsla(0, 0%, 0%, 0.1176);
  --black-a6: hsla(0, 0%, 0%, 0.149);
  --black-a7: hsla(0, 0%, 0%, 0.1922);
  --black-a8: hsla(0, 0%, 0%, 0.2667);
  --black-a9: hsla(0, 0%, 0%, 0.451);
  --black-a10: hsla(0, 0%, 0%, 0.4902);
  --black-a11: hsla(0, 0%, 0%, 0.6157);
  --black-a12: hsla(0, 0%, 0%, 0.8745);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --black-a1: color(display-p3 0 0 0 / 0.0078);
      --black-a2: color(display-p3 0 0 0 / 0.0235);
      --black-a3: color(display-p3 0 0 0 / 0.0588);
      --black-a4: color(display-p3 0 0 0 / 0.0902);
      --black-a5: color(display-p3 0 0 0 / 0.1176);
      --black-a6: color(display-p3 0 0 0 / 0.149);
      --black-a7: color(display-p3 0 0 0 / 0.1922);
      --black-a8: color(display-p3 0 0 0 / 0.2667);
      --black-a9: color(display-p3 0 0 0 / 0.451);
      --black-a10: color(display-p3 0 0 0 / 0.4902);
      --black-a11: color(display-p3 0 0 0 / 0.6157);
      --black-a12: color(display-p3 0 0 0 / 0.8745);
    }
  }
}
