.root {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 128px;

  background: linear-gradient(to bottom, var(--gray-1), transparent 75%);
  backdrop-filter: blur(12px);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8) 75%,
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-50%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--page-max-width);
  padding: 0 24px;
  margin: 0 auto;
}

.logo,
.trigger {
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--gray-10);
  letter-spacing: var(--font-inter-letter-spacing-16px);
  transition: all 0.2s ease-in-out;
}

.logo:hover,
.trigger:hover {
  color: var(--gray-12);
}

.list {
  display: flex;
  gap: 12px;
  align-items: center;
  list-style: none;
}
