.popup {
  --popup-min-width: 128px;
  --popup-max-width: 500px;
  --popup-padding-vertical: 4px;
  --popup-padding-horizontal: 0px;
}

.popup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  width: var(--popup-width, auto);
  min-width: var(--popup-min-width);
  max-width: var(--popup-max-width);
  height: var(--popup-height, auto);
  padding: var(--popup-padding-vertical) var(--popup-padding-horizontal);
  background-color: var(--gray-2);
  border: 1px solid var(--gray-4);
  border-radius: 6px;
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  @media (prefers-color-scheme: light) {
    box-shadow:
      lch(0 0 0 / 0.022) 0px 6px 18px,
      lch(0 0 0 / 0.044) 0px 3px 9px,
      lch(0 0 0 / 0.044) 0px 1px 1px;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow:
      lch(0 0 0 / 0.188) 0px 3px 8px,
      lch(0 0 0 / 0.188) 0px 2px 5px,
      lch(0 0 0 / 0.188) 0px 1px 1px;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}
