.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 512px;

  @media (max-width: 640px) {
    scale: 0.75;
  }
}

.post {
  --fg-primary: var(--text-primary);
  --fg-secondary: var(--text-quaternary);
  --check: var(--blue);
}

.post {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 384px;
  height: fit-content;

  background: var(--white);
  border-radius: 12px;
}

.header {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 12px;
}

.avatar {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  overflow: hidden;
  border-radius: 100px;
  box-shadow: 0 0 0 1px var(--border-secondary);
}

.name {
  font-size: 13px;
  font-variation-settings: var(--font-weight-500);
  line-height: 1;
  color: var(--fg-primary);
}

.handle {
  font-size: 13px;
  font-variation-settings: var(--font-weight-400);
  color: var(--fg-secondary);
}

.check {
  fill: var(--check);
}

.video {
  aspect-ratio: 16 / 9;
  margin-top: 0;
  overflow: hidden;
  object-fit: cover;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--border-secondary);
  border-left: none;
  border-radius: 0px;
}
