.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.visual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: var(--purple);
  border-radius: 100px;

  .icon {
    width: 60px;
    height: 60px;
    color: var(--white);
  }
}

.picker {
  position: relative;
  display: flex;
  gap: 4px;
  padding: 8px;
  background: oklch(0.12 0 0);
  border-radius: 100px;

  .arrow {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translateX(-50%) scaleX(1.2);
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;
    border-radius: 100px;
    box-shadow: none;
    transition: all 0.2s ease;
  }

  .option:hover {
    background: oklch(1 0 0 / 20%);
  }

  .option:active {
    transform: scale(0.9);
  }

  .option[data-active="true"] {
    background: oklch(1 0 0 / 20%);
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
