.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 8px;
}

.slider {
  display: flex;
  width: 32px;
  height: 100px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
}

.track {
  position: relative;
  width: 4px;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background: var(--gray-a4);
  border-radius: 4px;
}

.filled {
  position: absolute;
  inset: auto 0 0 0;
  user-select: none;
  background: var(--gray-9);
}

.thumb {
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--gray-12);
  border-radius: 50%;
  transform: translateX(-4px);
}

.thumb[data-focus-visible] {
  outline: none;
  box-shadow: 0 0 0 2px var(--gray-a6);
}
