.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.form {
  position: relative;
}

.input {
  width: 256px;
  height: 48px;
  padding: 12px 16px;
  background: var(--background-secondary);
  border-radius: 12px;
  transition: all 0.2s ease;
}

.input {
  font-size: 16px;
  font-variation-settings: var(--font-weight-500);
  color: var(--text-primary);
}

.input:focus {
  outline: none;
  box-shadow:
    0 0 0 3px oklch(1 0 0),
    0 0 0 6px oklch(0 0 0 / 6%);
}

.input::placeholder {
  color: var(--text-quaternary);
  opacity: 60%;
}

.input[readonly] {
  cursor: default;
  opacity: 0.8;
}

.hint {
  font-size: 12px;
  font-variation-settings: var(--font-weight-500);
  color: var(--text-quaternary);
}

.error {
  color: var(--red);
  background: color-mix(in srgb, var(--red) 5%, transparent);
}

.input.error:focus {
  outline: none;
  box-shadow:
    0 0 0 3px oklch(1 0 0),
    0 0 0 6px var(--red);
}

.success {
  color: var(--green);
  background: color-mix(in srgb, var(--green) 5%, transparent);
}

.input.success:focus {
  outline: none;
  box-shadow:
    0 0 0 3px oklch(1 0 0),
    0 0 0 6px color-mix(in srgb, var(--green) 60%, transparent);
}

.check {
  position: absolute;
  top: 50%;
  right: 0px;
  display: flex;
  transform: translateY(-50%);
}
