.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 256px;
}

.title {
  font-family: var(--font-family-display);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 150%;
  color: var(--foreground-primary);
  letter-spacing: var(--font-inter-letter-spacing-20px);
}

.description {
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--foreground-tertiary);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.coauthors {
  display: flex;
  align-items: center;
  height: 18px;
  padding: 0;
  margin: 0;
  list-style: none;

  .coauthor:not(:first-of-type) {
    margin-left: -4px;
  }

  .coauthor:not(:last-of-type) {
    mask: radial-gradient(circle 10px at 22px 50%, transparent 99%, #fff 100%);
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  align-self: stretch;

  .section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    align-self: stretch;
  }

  .label {
    font-family: var(--font-family-display);
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 150%;
    color: var(--gray-12);
    letter-spacing: var(--font-inter-letter-spacing-14px);
  }

  .content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-self: stretch;
  }
}

.divider {
  width: 100%;
  margin-block: 32px;
  border: none;
  border-top: 1px solid var(--gray-4);
}
