:root {
  --font-inter-letter-spacing-12px: 0.006px;
  --font-inter-letter-spacing-13px: -0.041px;
  --font-inter-letter-spacing-14px: -0.087px;
  --font-inter-letter-spacing-15px: -0.132px;
  --font-inter-letter-spacing-16px: -0.175px;
  --font-inter-letter-spacing-17px: -0.217px;
  --font-inter-letter-spacing-18px: -0.257px;
  --font-inter-letter-spacing-19px: -0.296px;
  --font-inter-letter-spacing-20px: -0.333px;
  --font-inter-letter-spacing-21px: -0.369px;
  --font-inter-letter-spacing-22px: -0.403px;
  --font-inter-letter-spacing-23px: -0.436px;
  --font-inter-letter-spacing-24px: -0.468px;
  --font-inter-letter-spacing-25px: -0.499px;
  --font-inter-letter-spacing-26px: -0.528px;
  --font-inter-letter-spacing-27px: -0.557px;
  --font-inter-letter-spacing-28px: -0.584px;
  --font-inter-letter-spacing-29px: -0.611px;
  --font-inter-letter-spacing-30px: -0.636px;
  --font-inter-letter-spacing-31px: -0.661px;
  --font-inter-letter-spacing-32px: -0.685px;
  --font-inter-letter-spacing-33px: -0.717px;
  --font-inter-letter-spacing-34px: -0.742px;
  --font-inter-letter-spacing-35px: -0.766px;
  --font-inter-letter-spacing-36px: -0.79px;
  --font-inter-letter-spacing-37px: -0.814px;
  --font-inter-letter-spacing-38px: -0.838px;
  --font-inter-letter-spacing-39px: -0.862px;
  --font-inter-letter-spacing-40px: -0.885px;
  --font-inter-letter-spacing-41px: -0.908px;
  --font-inter-letter-spacing-42px: -0.931px;
  --font-inter-letter-spacing-43px: -0.955px;
  --font-inter-letter-spacing-44px: -0.977px;
  --font-inter-letter-spacing-45px: -1px;
  --font-inter-letter-spacing-46px: -1.023px;
  --font-inter-letter-spacing-47px: -1.046px;
  --font-inter-letter-spacing-48px: -1.068px;
}
