.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
}

.title {
  font-family: var(--font-family-display);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 150%;
  color: var(--foreground-primary);
  letter-spacing: var(--font-inter-letter-spacing-20px);
}

.description {
  font-family: var(--font-family-display);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--foreground-tertiary);
  letter-spacing: var(--font-inter-letter-spacing-14px);
}

.coauthors {
  display: flex;
  align-items: center;
  height: 18px;
  padding: 0;
  margin: 0;
  list-style: none;

  .coauthor:not(:first-of-type) {
    margin-left: -4px;
  }

  .coauthor:not(:last-of-type) {
    mask: radial-gradient(circle 10px at 22px 50%, transparent 99%, #fff 100%);
  }
}

.metadata {
  display: inline-grid;
  grid-template-rows: 24px 24px 24px;
  grid-template-columns: 100px minmax(0, 1fr);
  row-gap: 16px;
  align-self: stretch;

  .label {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    justify-self: stretch;
    font-family: var(--font-family-display);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-medium);
    color: var(--gray-8);
    letter-spacing: -0.09px;
  }

  .content {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-self: stretch;
  }
}
